# Where vs Having Clause

In [0]:
%sql
-- Switch to my Catalog
USE CATALOG workspace;

-- Create schema if not exists
CREATE SCHEMA IF NOT EXISTS sql_pyspark_practice;

-- Use this schema
USE sql_pyspark_practice;

In [0]:
create or replace table emp(emp_id int,emp_name varchar(10),department_id int ,salary int ,manager_id int);

insert into emp values(1,'Ankit',100,10000,4);
insert into emp values(2,'Mohit',100,15000,5);
insert into emp values(3,'Vikas',100,10000,4);
insert into emp values(4,'Rohit',100,5000,2);
insert into emp values(5,'Mudit',200,12000,6);
insert into emp values(6,'Agam',200,12000,2);
insert into emp values(7,'Sanjay',200,9000,2);
insert into emp values(8,'Ashish',200,5000,2);

In [0]:
select * from emp 
where salary > 10000;

In [0]:
select department_id, avg(salary)
from emp
group by department_id
having avg(salary) > 9500

In [0]:
select manager_id, avg(salary) as avg_salary
from emp
where salary > 5000
group by manager_id
having avg(salary) > 10000